<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="mt-5 border-bottom">All videos</h2>
  </div>
  <br>
  <div>
    <%= link_to "New Video", new_video_path, class: "btn btn-secondary" %>
  </div>
  <br>
  <div class="d-flex align-content-start flex-wrap">
  <% if @videos.present? %>
    <% @videos.each do |video| %>
          <div class="col-4 mb-3">
            <h3 class="border-bottom"><%= video.name %></h3>
            <p><strong>Uploader:</strong> <%= video.user.email %></p>
            <p><%= link_to "Watch", video_path(video), class: "btn btn-primary w-100" %></p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
