<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="mt-5">All videos</h2>
  </div>
  <div class="mt-4 row">
  <% if @videos.present? %>
    <% @videos.each do |video| %>
          <div>
            <h3 class="border-bottom"><%= video.name %></h3>
            <p><strong>Uploader:</strong> <%= video.user.email %></p>
            <p><%= link_to "Watch", video_path(video), class: "btn btn-primary" %></p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
