<div class="d-flex justify-content-center">
  <div class="justify-content-center w-100">
    <h2 class="border-bottom text-center my-3"><%= @video.name %></h2>

    <div class="mb-3">
      <video-js data-views="0" id="user-video" class="vjs-default-skin" controls preload="auto">
        <source src="<%= @video.url %>" type="application/x-mpegURL">
      </video-js>
    </div>
    <p id="video-views"></p>
    <% if policy(@video).update? %>
      <%= link_to "Edit Video", edit_video_path(@video), class: "btn btn-primary" %>
    <% end %>
    <% if policy(@video).destroy? %>
      <%= link_to "Delete Video", video_path(@video), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>

<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>
