<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/gabrielrb"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gabrielrbelo/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-text">
    Welcome to https://video-player-m3u8.herokuapp.com <i class="fas fa-heart"></i>
  </div>
</div>
